input[type="range"]{
    background: rgb(1000, 1000, 1000);
    width: 300px;
    height: 6px;
    -webkit-appearance: none;
    border-radius: 100px;
    border-style: none;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(1000, 1000, 1000, 1000);
    -moz-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(1000, 25, 255, 0.13);
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
}

input[type="range"]:hover{
    /*background: rgb(194, 139, 131);*/
    width: 300px;
    height: 6px;
    -webkit-appearance: none;
    border-style: none;
    cursor: pointer;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
    -moz-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
}

input[type="range"]::-webkit-slider-thumb{
   -webkit-appearance:none !important;  
   width:45px;
   height:25px;
   -webkit-appearance: none;
   border-style: none;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border:0px solid black;

    background: #ffffff;
    /*background: -moz-linear-gradient(left, #a90329 0%, #8f0222 50%, #6d0019 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#a90329), color-stop(50%,#8f0222), color-stop(100%,#6d0019));
    background: -webkit-linear-gradient(left, #a90329 0%,#8f0222 50%,#6d0019 100%);
    background: -o-linear-gradient(left, #a90329 0%,#8f0222 50%,#6d0019 100%);
    background: -ms-linear-gradient(left, #a90329 0%,#8f0222 50%,#6d0019 100%);
    background: linear-gradient(to right, #a90329 0%,#8f0222 50%,#6d0019 100%);
    */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 );
 }

input[type="range"]::-webkit-slider-thumb:hover{
   -webkit-appearance:none !important;  
   width:45px;
   height:25px;
   -webkit-appearance: none;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background-color:rgb(1000, 1000, 1000);
    border:0px solid black;

    background: -moz-linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1d2e38), color-stop(50%,#2b4254), color-stop(100%,#2b4254));
    background: -webkit-linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
    background: -o-linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
    background: -ms-linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
    background: linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d2e38', endColorstr='#2b4254',GradientType=1 );
 }
body {
	font-family: avenir;
	font-size: 2em;/
    background-color: #00D1C4;
    background-image: url('getoutside.jpeg');
    /*#46C3FF;*/
    color: #ffffff;
    text-align: center;
}
h1 {
	margin: auto 10;
}

ul {
	margin: auto;
	/*text-align: left;*/
	list-style-type: lower-alpha;
	width: 50%;
}

.startButton {
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 17px;
  /*font-family: Arial;*/
  color: #ffffff;
  font-size: 1.3em;
  background: #00D1C4;
  padding: 20px 24px 20px 25px;
  text-decoration: none;
  margin: auto;
  box-shadow: 0;
  border:none;
  font-family: Avenir;
  letter-spacing: 1.5px;
  cursor: pointer;
  margin-top: 5%;
}

.startButton:hover {
  background: #3cb0fd;
/*  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);*/
  text-decoration: none;
  transform: rotate(10deg);
}
.question {
    margin: auto;
    display: none;
    counter-reset: my-badass-counter;
}

li {
  display: block;
}

/*li::before {
  counter-reset: section;
  content: "(" counter(my-badass-counter, lower-latin) ") ";
  counter-increment: my-badass-counter;*/

}

.answer1:hover {
  cursor: pointer;
}

.transition {
  
transition: background-color .3s linear;

}

.changeBackground {
  background-color: #00D1C4;
  background-image: none;
}

.baikal {

}

li {
  list-style-type: lower-alpha;
}

.answersHere:hover {
  cursor: pointer;
}



